/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #c62828;
    border: .05rem solid #8e0000;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #f0d8bc;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

h1 {
    font-family: 'sweet';
    color: #611f00;
    font-weight: 400;
    margin-top: 1em;
}

h3 {
    font-family: 'cafe';
    font-weight: 600;
    color: #7e3713;
}

h4 {
    font-family: 'sweet';
    color: black;
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    font-family: 'sweet';
    font-size: 2em;
    color: #61270a;
    text-shadow: none;
}

@font-face {
    font-family: 'cafe';
    src: url('../fonts/cafe.ttf') format('truetype');
}

@font-face {
    font-family: 'sweet';
    src: url('../fonts/sweet.ttf') format('truetype');
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/* Custom cards */

.menucard {
    max-width: 500px;
    margin: auto;
    border: 2px solid #7e3713;
    border-radius: 0.4em;
}


/* CUSTOM COLOURS */

.text-colour-orange {
    color: #F78000;
}

.text-colour-white {
    color: #fff;
}

.text-colour-black {
    color: #000;
}

.text-colour-brown {
    color: #7e3713;
}

.card-colour-beige {
    background-color: #ecc9a1;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}